<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">gaja</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/gaia</property>
        <property name="hibernate.connection.username">gaia</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- <property name="hibernate.current_session_context_class">org.hibernate.context.JTASessionContext</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.TransactionManagerLookup</property> -->
		<property name="format_sql">true</property>
		<property name="hibernate.c3p0.idle_test_period">300</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">300</property>

        <mapping resource="it/uniroma3/gaia/hibernate/model/SchemaExchange.hbm.xml"/>
        <mapping resource="it/uniroma3/gaia/hibernate/model/SchemaExchangeType.hbm.xml"/>
        <mapping resource="it/uniroma3/gaia/hibernate/model/Atom.hbm.xml"/>
        <mapping resource="it/uniroma3/gaia/hibernate/model/AtomType.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
